/* 
Project 1 - VAT
Web Workshop Spring 2014
Arissa Brown
https://github.com/recked/
*/
/* Making it look good */
html,
body {
  height: 100%;
  background: #181b1d;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}
#footer a {
  color: #aaa;
  font-weight: 600;
  text-decoration: none;
}
#footer a:hover {
  color: #990000;
}

.header {
  border-bottom: 1px solid #900;
  margin: 20px 0 30px 0;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header a {
  color: #990000;
  text-decoration: none;
}

.blood {
  color: #990000;
}

.jumbotron {
  background-color: #990000;
  color: #181b1d;
}

.mem {
  /*class for membership containers */
  text-align: center;
}

.btn-success {
  background: #990000;
  border-color: #880000;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background: #880000;
  border-color: #990000;
}

.buff {
  /* adding some spacing */
  margin-top: 20px;
}

#mem1,
#mem2,
#mem3 {
  width: 100%;
  height: 150px;
  border: 2px dashed #aaaaaa;
  text-align: center;
  padding: 10px;
}
#mem1 img,
#mem2 img,
#mem3 img {
  width: 50%;
}

#good1,
#good2,
#good3 {
  margin-top: -80px;
}

#mem4 {
  /* container for coupon start */
  /*border: 1px solid #aaaaaa;*/
  width: 100%;
  height: 100px;
  text-align: center;
}
#mem4 img {
  width: 50%;
}

#blank a {
  text-decoration: none;
}
#blank a:hover {
  color: #181b1d;
}

.modal-content {
  background-color: #181b1d;
  color: #990000;
}

.modal-header,
.modal-footer {
  border: none;
}
